{{/* Resolve author (language override if present) */}}
{{ $author := site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{/* Resolve sections raw data (language override if present) */}}
{{ $sectionsRaw := site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
  {{ $sectionsRaw = (index site.Data site.Language.Lang).sections }}
{{ end }}
{{/* Unwrap if wrapped; else keep slice */}}
{{ $sections := $sectionsRaw }}
{{ if and (not (reflect.IsSlice $sectionsRaw)) (isset $sectionsRaw "sections") }}
  {{ $sections = index $sectionsRaw "sections" }}
{{ end }}

{{ if $author }}
  <section class="hero is-fullheight">
    <div class="hero-head">
      {{ partial "navigators/navbar.html" . }}
    </div>
    
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          
          <div class="column is-5">
            <figure class="image is-square">
              {{ if $author.image }}
                {{ $authorImage := resources.Get $author.image }}
                {{ if $authorImage }}
                  <img class="is-rounded" id="author-avatar" src="{{ $authorImage.RelPermalink }}" alt="Author Image">
                {{ else }}
                  <img class="is-rounded" id="author-avatar" src="{{ "images/default-avatar.png" | relURL }}" alt="Author Image">
                {{ end }}
              {{ else }}
                <img class="is-rounded" id="author-avatar" src="{{ "images/default-avatar.png" | relURL }}" alt="Author Image">
              {{ end }}
            </figure>
          </div>

          <div class="column is-7">
            <div class="content">
              {{ if $author.greeting }}
                <p class="greeting">{{ $author.greeting }}</p>
              {{ end }}
              
              <h1 class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-weight-light">
                {{ $author.name }}
              </h1>
              
              {{ if $author.summary }}
                {{ if reflect.IsSlice $author.summary }}
                  {{ range $author.summary }}
                    <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">{{ . }}</p>
                  {{ end }}
                {{ else }}
                  <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">{{ $author.summary }}</p>
                {{ end }}
              {{ end }}
              
              <br>
              <div class="buttons is-centered">
                {{ if $author.contactInfo.email }}
                  <a class="button is-outlined is-rounded" href="mailto:{{ $author.contactInfo.email }}">
                    <span class="icon">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span>Email</span>
                  </a>
                {{ end }}
                
                {{ if $author.contactInfo.linkedin }}
                  <a class="button is-outlined is-rounded" href="{{ $author.contactInfo.linkedin }}" target="_blank">
                    <span class="icon">
                      <i class="fab fa-linkedin"></i>
                    </span>
                    <span>LinkedIn</span>
                  </a>
                {{ end }}
                
                {{ if $author.contactInfo.github }}
                  <a class="button is-outlined is-rounded" href="{{ $author.contactInfo.github }}" target="_blank">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                {{ end }}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Navigation to other sections -->
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-boxed is-fullwidth">
          <ul>
            {{ if $sections }}
              {{ range $sections }}
                {{ if .section.enable }}
                  {{ $sid := .section.id | default (replace (lower .section.name) " " "-") }}
                  <li>
                    <a href="#{{ $sid }}">
                      <span>{{ .section.name }}</span>
                    </a>
                  </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    
  </section>
{{ end }}
